@model EGEC.ApplicationCore.Entity.User
@{
    ViewData["Title"] = "Login Administrativo";
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>

    <div class="main-content-agile">
        <div class="sub-main-w3">
            <h2>Login Administrativo</h2>
            <form action="~/Admin/Home" method="post">
                <div class="pom-agile">
                    <span class="fa fa-user" aria-hidden="true"></span>
                    @Html.TextBoxFor(m => Model.Login, new { @class = "user", autocomplete = "off" })
                    @*<input placeholder="Login" name="Name" class="user" id="Login" type="email" required="">*@
                    @*<input placeholder="Login" name="Name" class="user" id="Login" required="">*@
                </div>
                <div class="pom-agile">
                    <span class="fa fa-key" aria-hidden="true"></span>
                    @Html.TextBoxFor(m => m.Senha, new { @class= "pass", autocomplete="off"})
                    @*<input placeholder="Password" name="Password" class="pass" id="Senha" type="password" required="">*@
                </div>
                @*<div class="sub-w3l">
                    <div class="sub-agile">
                        <input type="checkbox" id="brand1" value="">
                        <label for="brand1">
                            <span></span>Remember me
                        </label>
                    </div>
                    <a href="#">Forgot Password?</a>
                    <div class="clear"></div>
                </div>*@
                <div class="right-w3l">
                    <br />
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <p>
            &copy; 2018 All rights reserved | Design by Hugo Fernandes
        </p>
    </div>
</body>
</html>